.userBox {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 250px;
  margin: 0 auto 20px;
  border-radius: 30px;
  -webkit-box-shadow: 1px 1px 18px 8px rgba(161, 153, 161, 1);
  -moz-box-shadow: 1px 1px 18px 8px rgba(161, 153, 161, 1);
  box-shadow: 1px 1px 18px 8px rgba(161, 153, 161, 1);
}

.userImg {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-right: 10px;
}

.userInfo {
  font-weight: bold;
  margin-right: 5px;
}
