.mainPage {
  position: relative;
  padding-bottom: 60px;
  min-height: 100%;
}

.mainContent {
  padding-top: 30px;
}

.readMore {
  border-bottom: 2px solid #0097cc;
  font-weight: bold;
  display: inline;
  cursor: pointer;
}

.readMore:hover {
  color: #0097cc;
}

.errorTxt {
  color: red;
  text-transform: capitalize;
  font-size: 1.4rem;
}

.tryAgain {
  padding: 0.5em 0.9em;
  border-radius: 10px;
  font-weight: 800;
  border: none;
  background-color: #0097cc;
  cursor: pointer;
  outline: none;
  width: fit-content;
  margin: 0 auto;
}

.tryAgain:hover,
.tryAgain:focus {
  background-color: #005b7c;
}
